{% extends 'base.html' %} {% load static %} {% block menu %}
<!-- Header -->
<header class="header">
  <a href="\" class="logo"><i class="fas fa-shopping-basket"></i>.DF SERVICES</a>
  <nav class="navbar">
    <a href="\home">Home</a>
    <a href="#about">Tentang Kami</a>
    <a href="#jasa">Jasa yang Tersedia</a>
    <a href="#kontak">Kontak</a>
    <a href="#review">Review</a>
    <a href="\blogs">Blogs</a>
  </nav>

  <div class="icons">
    <div class="fas fa-bars" id="menu-btn"></div>
    <div class="fas fa-calendar-alt" id="search-btn"></div>
    <div class="fas fa-shopping-cart" id="cart-btn"></div>
    <div class="fas fa-bell" id="login-btn"></div>
  </div>

  <form action="" class="search-form">
    <h1>DF Services berdiri pada tahun 2022 - Sekarang</h1>
  </form>

  <div class="shopping-cart">
    <div class="box">
      <img src="{% static 'image/logodf.png' %}" alt="" />
      <div class="content">
        <h3>Cara Pemesanan</h3>
      </div>
    </div>
    <div class="total">Untuk Melakukan Pemesanan Jasa Kami Langsung Hubungi atau Kunjungi :</div>
    <a href="https://wa.me/qr/HSY7TPXLG2ADL1" class="btn" target="_blank">WA</a>
    <a href="https://instagram.com/dfser.vices?igshid=MTh2djF6eTNrdTUyZg==" class="btn" target="_blank">IG</a>
    <a href="https://shopee.co.id/dfservices" class="btn" target="_blank">Shopee</a>
  </div>

  <!-- Notes -->
  <form action="" class="login-form">
    <h3>Notes :</h3>
    <p>Jika Berminat Untuk Menjadi Salah Satu Member atau Pekerja Freelance dari Jasa DF Services Bisa Langsung Menghubungi E-mail : defiliafatikasari09@gmail.com</p>
    <h3>Persyaratan :</h3>
    <p>1. Minimal Lulus SMA/SMK/MA;</p>
    <p>2. CV-Curriculum Vitae dalam bentuk PDF;</p>
    <p>3. Scan KTP dalam bentuk JPG/PNG/PDF;</p>
    <p>4. Scan Ijasah Terakhir dalam bentuk JPG/PNG/PDF;</p>
    <p>5. Semua File Tersebut Di Kirim Ke Alamat E-mail di atas.</p>
  </form>
</header>
<!-- End Header -->
{% endblock menu %} {% block content %}
<style>
  .home {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("{% static 'image/bgbanner.jpg' %}");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 17rem;
    padding-bottom: 10rem;
  }
</style>
<!-- Home -->
<section class="home" id="home">
  <div class="content">
    <h3>SELAMAT DATANG <span>DI JASA</span> ONLINE DAN OFFLINE</h3>
    <p>DF SERVICES - Jasa Untuk Mempermudah Pekerjaan Anda</p>
    <p>DF Services bertujuan untuk meringankan beban para siswa ataupun mahasiswa serta semua orang yang susah & dan imager</p>
    <a href="#jasa" class="btn">Order Sekarang</a>
  </div>
</section>
<!-- End Home -->

<!-- Tentang Kami / About -->
<section class="about" id="about">
  <h1 class="heading">Tentang <span>Kami</span></h1>

  <div class="box-container">
    <div class="box">
      <img src="{% static 'image/logodf.png' %}" alt="" />
      <img src="{% static 'image/offline.jpg' %}" alt="" />
      <img src="{% static 'image/online.jpg' %}" alt="" />
      <h3>DF-SERVICES</h3>
      <p>DF Services Bertujuan Untuk Meringankan Beban Para Siswa Ataupun Mahasiswa Serta Semua Orang Yang Susah & Dan Imager. Kami Siap Melayani Jasa....</p>
      <a href="https://jasaonoff.blogspot.com/2023/11/df-services-menyediakan-berbagai-jasa.html" class="btn" target="_blank">Baca Selengkapnya</a>
    </div>

    <div class="box">
      <img src="{% static 'image/defilia.png' %}" alt="" />
      <img src="{% static 'image/fatika.png' %}" alt="" />
      <img src="{% static 'image/tika.png' %}" alt="" />
      <img src="{% static 'image/sari.png' %}" alt="" />
      <h3>Owner DF Services</h3>
      <p>DF Services didirikan pada tahun 2022 sampai Sekarang oleh Defilia Fatikasari.....</p>
      <a href="https://jasaonoff.blogspot.com/2023/11/owner-df-services.html" class="btn" target="_blank">Baca Selengkapnya</a>
    </div>

    <div class="box">
      <img src="{% static 'image/printer.jpg' %}" alt="" />
      <img src="{% static 'image/kertas.jpg' %}" alt="" />
      <img src="{% static 'image/tinta.jpg' %}" alt="" />
      <h3>Printer, Kertas Dan Tinta</h3>
      <p>Menggunakan Jenis Printer Canon ip2770, Kertas dengan Ukuran F4(Folio) dan A4 70gsm, serta Menggunakan Merek Tinta.....</p>
      <a href="https://jasaonoff.blogspot.com/2023/11/printer-kertas-dan-tinta.html" class="btn" target="_blank">Baca Selengkapnya</a>
    </div>
  </div>
</section>
<!-- End Tentang Kami / About -->

<!-- Jasa yang Tersedia -->
<section class="jasa" id="jasa">
  <h1 class="heading">Jasa - <span>DF Services</span></h1>
  <h1 style="text-align: center; font-size: 30px">{{ jasa }}</h1>
  <br />
  <table style="border: 1px solid">
    <tr>
      <th style="border: 1px solid">Jasa</th>
      <th style="border: 1px solid">Keterangan</th>
      <th style="border: 1px solid">Harga</th>
    </tr>
    {% for x in home %}
    <tr>
      <td style="border: 1px solid; padding: 5px"><b>{{ x.nama }}</b></td>
      <td style="border: 1px solid; padding: 5px"><b>{{ x.keterangan }}</b></td>
      <td style="border: 1px solid; padding: 5px"><b>{{ x.harga }}</b></td>
    </tr>
    {% endfor %}
  </table>
  <br />

  <div class="swiper product-kami">
    <div class="swiper-wrapper">
      <div class="swiper-slide box">
        <img src="{% static 'image/jprinthp.png' %}" alt="" />
        <h3>Jasa Print Online Offline - Hitam Putih</h3>
        <div class="harga">Rp500</div>
        <div class="starts">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-half-alt"></i>
        </div>
        <a href="https://wa.me/qr/HSY7TPXLG2ADL1" class="btn" target="_blank">Order</a>
        <a href="https://shp.ee/kidefsj" class="btn" target="_blank">Shopee</a>
      </div>

      <div class="swiper-slide box">
        <img src="{% static 'image/jprintw.png' %}" alt="" />
        <h3>Jasa Print Online Offline - Warna</h3>
        <div class="harga">Rp1000</div>
        <div class="starts">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-half-alt"></i>
        </div>
        <a href="https://wa.me/qr/HSY7TPXLG2ADL1" class="btn" target="_blank">Order</a>
        <a href="https://shp.ee/kidefsj" class="btn" target="_blank">Shopee</a>
      </div>

      <div class="swiper-slide box">
        <img src="{% static 'image/jprintg.png' %}" alt="" />
        <h3>Jasa Print Online Offline - Gambar</h3>
        <div class="harga">Rp1500</div>
        <div class="starts">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-half-alt"></i>
        </div>
        <a href="https://wa.me/qr/HSY7TPXLG2ADL1" class="btn" target="_blank">Order</a>
        <a href="https://shp.ee/kidefsj" class="btn" target="_blank">Shopee</a>
      </div>

      <div class="swiper-slide box">
        <img src="{% static 'image/jprintbb.png' %}" alt="" />
        <h3>Jasa Print Online Offline - Bolak Balik</h3>
        <div class="harga">Rp2000</div>
        <div class="starts">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-half-alt"></i>
        </div>
        <a href="https://wa.me/qr/HSY7TPXLG2ADL1" class="btn" target="_blank">Order</a>
        <a href="https://shp.ee/kidefsj" class="btn" target="_blank">Shopee</a>
      </div>
    </div>
  </div>

  <div class="swiper product-kami">
    <div class="swiper-wrapper">
      <div class="swiper-slide box">
        <img src="{% static 'image/jketik.png' %}" alt="" />
        <h3>Jasa Ketik</h3>
        <div class="harga">Start from : Rp5000</div>
        <div class="starts">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-half-alt"></i>
        </div>
        <a href="https://wa.me/qr/HSY7TPXLG2ADL1" class="btn" target="_blank">Order</a>
      </div>

      <div class="swiper-slide box">
        <img src="{% static 'image/jmakalah.png' %}" alt="" />
        <h3>Jasa Pembuatan Makalah SD/SMP/SMA/Mahasiswa</h3>
        <div class="harga">Start from : Rp20000</div>
        <div class="starts">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-half-alt"></i>
        </div>
        <a href="https://wa.me/qr/HSY7TPXLG2ADL1" class="btn" target="_blank">Order</a>
      </div>

      <div class="swiper-slide box">
        <img src="{% static 'image/jppt.png' %}" alt="" />
        <h3>Jasa Pembuatan PPT SD/SMP/SMA/Mahasiswa</h3>
        <div class="harga">Start from : Rp25000</div>
        <div class="starts">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-half-alt"></i>
        </div>
        <a href="https://wa.me/qr/HSY7TPXLG2ADL1" class="btn" target="_blank">Order</a>
      </div>

      <div class="swiper-slide box">
        <img src="{% static 'image/jeditdesain.png' %}" alt="" />
        <h3>Jasa Desain/Editing</h3>
        <div class="harga">Start from : Rp5000</div>
        <div class="starts">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-half-alt"></i>
        </div>
        <a href="https://wa.me/qr/HSY7TPXLG2ADL1" class="btn" target="_blank">Order</a>
      </div>
    </div>
  </div>
</section>
<!-- End Jasa yang Tersedia -->

<!-- Kontak -->
<section class="kontak" id="kontak">
  <h1 class="heading">Kontak <span>DF Services</span></h1>
  <div class="box-container">
    <div class="box">
      <img src="{% static 'image/logowa.png' %}" alt="" />
      <h3>082197569330</h3>
      <p>Hubungi Kontak WA di atas</p>
      <a href="https://wa.me/qr/HSY7TPXLG2ADL1" class="btn" target="_blank">Klik Link Ini</a>
    </div>

    <div class="box">
      <img src="{% static 'image/logoemail.png' %}" alt="" />
      <h3>defitika@gmail.com</h3>
      <p>Pengiriman File</p>
      <a href="https://mail.google.com/" class="btn" target="_blank">Klik Link Ini</a>
    </div>

    <div class="box">
      <img src="{% static 'image/logoig.png' %}" alt="" />
      <h3>@dfser.vices</h3>
      <p>Informasi Lengkap</p>
      <a href="https://instagram.com/dfser.vices?igshid=MTh2djF6eTNrdTUyZg==" class="btn" target="_blank">Klik Link Ini</a>
    </div>

    <div class="box">
      <img src="{% static 'image/logofb.png' %}" alt="" />
      <h3>Defilia Fatikasari</h3>
      <p>Kontak Facebook</p>
      <a href="https://www.facebook.com/defilia.fatikasari.77?mibextid=ZbWKwL" class="btn" target="_blank">Klik Link Ini</a>
    </div>

    <div class="box">
      <img src="{% static 'image/logoyt.png' %}" alt="" />
      <h3>Defilia Fatikasari</h3>
      <p>YouTube</p>
      <a href="https://youtube.com/@DefiliaFatikasariTI?si=uo36vhZJbYRNP0iP" class="btn" target="_blank">Klik Link Ini</a>
    </div>

    <div class="box">
      <img src="{% static 'image/shoope.png' %}" alt="" />
      <h3>dfservices</h3>
      <p>Toko Online DF Services - Shoope</p>
      <a href="https://shopee.co.id/dfservices" class="btn" target="_blank">Klik Link Ini</a>
    </div>

    <div class="box">
      <img src="{% static 'image/logolokasi.png' %}" alt="" />
      <h3>Lokasi DF Services</h3>
      <p>Jalan Jalmak Gang.7, Jawa Timur</p>
      <a href="https://maps.app.goo.gl/uKF7Houxsdoc1AK97" class="btn" target="_blank">Klik Link Ini</a>
    </div>
  </div>
</section>
<!-- End Kontak -->

<!-- Review -->
<section class="review" id="review">
  <h1 class="heading">Customer's <span>Review</span></h1>

  <div class="swiper review-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide box">
        <img src="{% static 'image/logodf.png' %}" alt="" />
        <p>Kualitas Pencetakannya bagus dan Jasa yang disedakan cukup lengkap untuk membantu pekerjaan para siswa maupun mahasiswa</p>
        <h3>Anik Kusmawati</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
      </div>

      <div class="swiper-slide box">
        <img src="{% static 'image/logodf.png' %}" alt="" />
        <p>Jasa Online yang pertama kali saya jumpai dengan pelayanan dan kualitas yang sangat bagus</p>
        <h3>Putri Ningsih</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
      </div>

      <div class="swiper-slide box">
        <img src="{% static 'image/logodf.png' %}" alt="" />
        <p>Tidak usah diragukan lagi, jasa online yang bagus dan hasilnya terjamin 100 %</p>
        <h3>Riska Wahyuni JS</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
      </div>

      <div class="swiper-slide box">
        <img src="{% static 'image/logodf.png' %}" alt="" />
        <p>Jasa buat makalah yang super duper keren dan bagus</p>
        <h3>Muhammad Dayat</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Review -->

<!-- Footer -->
<section class="footer">
  <div class="box-container">
    <div class="box">
      <h3>DF Services <i class="fas fa-shopping-basket"></i></h3>
      <p>DF Services - Membantu Pekerjaan Anda</p>
      <div class="share">
        <a href="https://www.facebook.com/defilia.fatikasari.77?mibextid=ZbWKwL" class="fab fa-facebook-f" target="_blank"></a>
        <a href="https://instagram.com/im_dftikasr18?igshid=MzMyNGUyNmU2YQ==" class="fab fa-instagram" target="_blank"></a>
      </div>
    </div>

    <div class="box">
      <h3>Info Kontak</h3>
      <a href="https://wa.me/qr/HSY7TPXLG2ADL1" class="links" target="_blank"><i class="fas fa-phone"></i>+6282-19756-9330</a>
      <a href="#NoTlp" class="links"><i class="fas fa-phone"></i>+6287-81789-9367</a>
      <a href="https://mail.google.com/" class="links" target="_blank"><i class="fas fa-envelope"></i>defiliafatikasari09@gmail.com</a>
      <a href="https://maps.app.goo.gl/uKF7Houxsdoc1AK97" class="links" target="_blank"><i class="fas fa-map-marker-alt"></i>Indonesia, Jawa Timur</a>
    </div>

    <div class="box">
      <h3>quick links</h3>
      <a href="\home" class="links"><i class="fas fa-arrow-right"></i>Home</a>
      <a href="#about" class="links"><i class="fas fa-arrow-right"></i>Tentang Kami</a>
      <a href="#jasa" class="links"><i class="fas fa-arrow-right"></i>Jasa Yang Tersedia</a>
      <a href="#kontak" class="links"><i class="fas fa-arrow-right"></i>Kontak</a>
      <a href="#review" class="links"><i class="fas fa-arrow-right"></i>Review</a>
      <a href="\blogs" class="links"><i class="fas fa-arrow-right"></i>Blogs</a>
    </div>

    <div class="box">
      <h3>Metode Pembayaran</h3>
      <img src="{% static 'image/cash.jpg' %}" class="payment-img" alt="" />
      <img src="{% static 'image/bank.jpg' %}" class="payment-img" alt="" />
      <img src="{% static 'image/mandiri.svg.webp' %}" class="payment-img" alt="" />
      <img src="{% static 'image/pay.png' %}" class="payment-img" alt="" />
    </div>
  </div>
  <div class="credit">Created by <span>Defilia Fatikasari 2023 </span> | all rights reserved</div>
</section>
<!-- End Footer -->
{% endblock content %}
